/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 8%;

    z-index:1000;

    background:rgba(255,255,255,.78);

    backdrop-filter:blur(16px);

    box-shadow:0 10px 35px rgba(0,0,0,.08);

}



.logo{

    text-decoration:none;

    font-size:33px;

    font-weight:800;

    letter-spacing:1px;

    background:linear-gradient(
    90deg,
    #2563eb,
    #7c3aed,
    #ec4899);

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

    transition:.4s;

}

.logo:hover{

    transform:scale(1.08);

}



.nav-links{

    display:flex;

    align-items:center;

    gap:28px;

}



.nav-item{

    text-decoration:none;

    color:#111827;

    font-size:17px;

    font-weight:600;

    position:relative;

    transition:.3s;

}



.nav-item::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-7px;

    width:0;

    height:3px;

    background:#2563eb;

    transition:.35s;

    border-radius:20px;

}



.nav-item:hover{

    color:#2563eb;

}



.nav-item:hover::after{

    width:100%;

}



/* PREMIUM BUTTON */

.start-btn{

    text-decoration:none;

    padding:13px 30px;

    border-radius:50px;

    color:white;

    font-weight:700;

    background:linear-gradient(
    135deg,
    #2563eb,
    #7c3aed);

    box-shadow:
    0 12px 25px rgba(37,99,235,.35);

    transition:.35s;

}



.start-btn:hover{

    transform:translateY(-5px);

    box-shadow:
    0 18px 35px rgba(37,99,235,.45);

}



/* MOBILE */

@media(max-width:768px){

.navbar{

padding:18px 6%;

}

.logo{

font-size:24px;

}

.nav-links{

gap:15px;

}

.nav-item{

font-size:15px;

}

.start-btn{

padding:10px 20px;

font-size:14px;

}

}