.dashboard{

    min-height:100vh;
    padding:120px 8% 50px;

    background:
    linear-gradient(
        135deg,
        #eef2ff,
        #fdf4ff
    );

}


/* HEADER */

.dashboard-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:40px;

}


.dashboard-header h1{

    font-size:42px;
    color:#111827;

}


.dashboard-header p{

    color:#6b7280;
    margin-top:10px;

}



.dashboard-header button{

    padding:15px 35px;

    border:none;
    border-radius:50px;

    color:white;

    font-size:17px;
    font-weight:700;

    cursor:pointer;

    background:
    linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );

}




/* LIVE QUIZ CARD */


.live-quiz-card{

    margin:30px 0;

    padding:30px;

    border-radius:25px;

    background:
    linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );

    color:white;

    box-shadow:
    0 15px 40px rgba(0,0,0,.20);

}



.live-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

}



.live-header h2{

    font-size:30px;

}



.live-badge{

    background:#00c853;

    padding:8px 20px;

    border-radius:30px;

    font-weight:bold;

}



/* INFO BOX */


.quiz-info{

    margin-top:25px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}



.info-box{

    background:white;

    color:#111827;

    padding:20px;

    border-radius:18px;

    text-align:center;

}



.info-box h4{

    margin-bottom:10px;

    color:#6b7280;

}



.info-box p{

    font-size:20px;

    font-weight:700;

}





.quiz-status{

    margin-top:25px;

    padding:20px;

    background:
    rgba(255,255,255,.15);

    border-radius:18px;

    text-align:center;

}



.quiz-status h3{

    font-size:25px;

}



.quiz-status button{


    margin-top:15px;

    padding:14px 35px;

    border:none;

    border-radius:30px;

    background:white;

    color:#2563eb;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

}


.quiz-status button:hover{

    transform:scale(1.05);

}





/* STATS */


.stats-card{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}



.stats-card div{

    background:white;

    padding:25px;

    border-radius:20px;

    text-align:center;


    box-shadow:

    0 15px 35px rgba(0,0,0,.08);

}



.stats-card h2{

    color:#2563eb;

    font-size:30px;

}





/* CATEGORY */


.title{

    margin:50px 0 25px;

    font-size:32px;

}




.categories{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}




.category-card{


    background:white;

    padding:30px;

    border-radius:25px;

    text-align:center;

    transition:.3s;


    box-shadow:

    0 15px 35px rgba(0,0,0,.08);


}



.category-card:hover{

    transform:translateY(-8px);

}



.category-card span{

    font-size:45px;

}



.category-card h3{

    margin:15px 0;

}



.category-card p{

    color:#6b7280;

}





/* MOBILE */


@media(max-width:900px){


.dashboard-header{

    flex-direction:column;

    gap:25px;

}



.stats-card,
.categories{

    grid-template-columns:1fr;

}



.quiz-info{

    grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:500px){


.quiz-info{

    grid-template-columns:1fr;

}



.dashboard-header h1{

    font-size:30px;

}


}